@model UniversityDao.EF.Account

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/QAManager/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card" style="border:0">
        <div class="card-body">
            <div>
                <h4>Account</h4>
                <hr />
                <table class="table">
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Username)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Password)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.FullName)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.FullName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Address)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Address)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Email)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Email)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Phone)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Phone)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Role)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Role)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Status)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Status)
                        </td>
                    </tr>

                </table>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>