@model IEnumerable<UniversityWebApp.Models.IdeaView>

@{
    ViewBag.Title = "GetNewPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-top:15px">
    <hr />
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">New post</li>
    </ol>
    <div class="">
        <table class="table borderless">
            <tr style="background-color:#C7CBD6;color:white">
                <th>TITLE</th>
              
                <th style="width:200px">Views</th>
                <th style="width:200px">Comments</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("GetDtIdById","Idea", new { id =item.IdeaID, area= "Student",@class="link"})">@item.IdeaTitle</a>
                        <p>@item.CreatedDate <span>,by <a href="">@item.CreatedBy</a></span></p>
                    </td>
                    <td>
                        <p>@item.IdeaViewCount</p>
                    </td>
                    <td>@item.CommentCount</td>
                </tr>
            }

        </table>
    </div>
</div>


